.card-container
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width:20%;
    height:15%;
}
.card-image
{
    width:100%;
    height:40%;
}
.card-image img
{
    width:100%;
    height:100%;
}