.navbar-container
{
    width:100%;
    height:5%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
    padding: 1%;
    margin:0;
    font-family:"Rubik",sans-serif;
}
.desktop-navbar
{
    width:100%;
    height:100%;
    display:flex;
    justify-content:space-around;
    align-items: center;
}
.navbar-men ,.navbar-women ,.navbar-tshirts ,.navbar-pants,.navbar-login,
.navbar-admin-login
{
    width: 8%;
    padding: 1%;
    text-align: center;
}
.navbar-men:hover
,.navbar-women:hover ,.navbar-tshirts:hover ,
.navbar-pants:hover,.navbar-login:hover,.navbar-admin-login:hover
{
    width: 8%;
    padding: 0.5%;
    cursor: pointer;
    text-align: center;
    background-color: #B3B3B3;
    color: azure;
    border-radius: 5%;
    transition: 0.2s ease-out 0.2s;
}
.navbar-icon
{
    width:4%;
    height:2%;
}
.navbar-icon img
{
    width:100%;
    height:100%;
}

.mob-navbar-icon
{
    width:10%;
    height:5%;
}
.mob-navbar-icon img{
    width:100%;
}
.mob-navbar
{   width:100%;
    display: flex;
    justify-content: space-between;
    position:relative;
}

.mob-navbar-list
{   position:absolute;
    background-color:whitesmoke;
    padding: 2%;
    min-width:100%;
    min-height:100%;
    top:30px;
    left:0px;
    z-index: 1;
    display:flex;
    justify-content: space-around;
    gap: 5px;
    flex-direction: column;
    
} 
.mob-navbar-men
{  display: flex;
   justify-content: space-between;
   gap: 100px;
} 
.mob-navbar-men:active,.mob-navbar-women:active,.mob-navbar-tshirts:active,
.mob-navbar-pants:active,.mob-navbar-login:active
{
  background-color: black;
  color:white;
}